// // /* Sticky footer
// // -------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 244px;
    /* Margin bottom by footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 244px;
    padding-top: 50px;
}