.hero {
  border-bottom: solid #e8e8e8;
  border-width: 1px;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.45rem;
}
.nav-metaphor.flex-column .nav-link:hover {
  border-left-color: #d22030;
}

@media (min-width: 576px) {
  .hero {
    padding: 4rem 2rem;
  }
}

// Version history styling
.version-history {
  h3 {
    padding-bottom: .5%;
    font-size: 2rem;
  }

  h3:nth-child(n+3) {
    border-top: 1px solid #e8e8e8;
    padding-top: 3.5%;
  }

  li:last-child {
    padding-bottom: 1.75%;
  }
}